from = 广州南
to = 潮汕
date = 2018-02-14
passengerName = 姓名1,姓名2
targetDepartureTimeFrom =08:00
targetDepartureTimeTo =22:00
timeIntervalBetweenSeleniumQuery = 1000
timeIntervalBetweenHttpRequestQuery=2000
whenToStartQuery = 2018-01-16 22:12:50
skips = D2804
trainOnlyAccept =G6337