from = 广州南
to = 怀集
date = 2018-01-17
passengerName = 姓名1,姓名2
targetDepartureTimeFrom =07:00
targetDepartureTimeTo =22:00
timeIntervalBetweenSeleniumQuery = 1500
timeIntervalBetweenHttpRequestQuery=2000
whenToStartQuery = 2018-01-15 13:59:00
skips = D2943